*{
    box-sizing: border-box; /*Permet d'éviter de gérer les borders pour le grid*/
}


body{
    font-family: 'Sansita Swashed', cursive;
}

section{
    display: flex;
}

#game-container{
    display: flex;
    width: 85vh;
    height: 85vh;
    border: 3px solid black;
}



#red-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    border: 3px solid red;
    background-color: white;
}

.gridDiv{
    border: 1px solid lightgrey;
    background-color: white;
}