*{
    box-sizing: border-box; /*Permet d'éviter de gérer les borders pour le grid*/
}

header{
    text-align: center;
    padding: 2%;
}

main{
    text-align: center;
    border: 1px solid black;
}


body{
    font-family: 'Sansita Swashed', cursive;
}

.container{
    display: flex;
    flex-direction: row;
}

section{
    display: flex;
}

#game-control{
    display: flex;
    flex-direction: column;

}

input[type="text"] {
    border: 1px solid black;
    width: 40px;
    text-align: center;
    background: red;
    color: white;
    padding: 4px 4px;
    margin: 2%;
   /* position: absolute;*/
    border-radius: 20px;
   /* left: 50%;*/
    /*transform: translateX(-50%);*/
  }

  

#game-container{
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}



#red-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-shrink: 1;*/
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    background-color: white;
}

.gridDiv{
    display: flex;
    
    /*flex-shrink: 1;*/
    border: 1px solid lightgrey;
    background-color: white;
    flex-grow: 1;
}